*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
section {
    width: 100%;
    min-height: 100vh;
    background: url(.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}